 body{
  background-image: linear-gradient(to right, #000000,#333333);
  font-family: Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

#footer{
  position: fixed;
  bottom:0;  
  margin-left: 600px;
}
    
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 3px;
  padding-right: 7px;
}
        
.social-link {
  display: flex;
  align-items: right;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-decoration: none;
  font-size: 16px;
}
        
.social-link img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  background-color: #888888;
  color: white;
  text-shadow: 3px 3px 5px black, 0 0 25px red, 0 0 5px darkred;
  box-shadow: 10px 10px 5px #dbe9f4;

}

button img {
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
}

button span {
  font-size: 16px;
  font-weight: bold;
  display: block;
}